@import "./../../scss/mixin";
@import "./../../scss/breakpoints";
.contentHolder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 3rem;
  width: 100%;
  margin-top: 3rem;
  transition: 1s;
  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .launch {
    text-align: center;
    font-size: 12px;

    height: 340px;
    overflow: hidden;
    .bold {
      font-weight: bold;
    }
  }
}
.imgHolder {
  width: 100%;
  height: 50%;
  border: 2px solid gray;
  .launch-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.launch-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.launch-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.launch-description {
  margin-bottom: 0.5rem;
}

.launch-date {
  font-style: italic;
  color: gray;
}
.btn {
  display: flex;
  font-size: 10px;
  margin-top: 1rem;
}
.btn:hover {
  color: aqua;
}
.offset-lg-12 {
  margin-top: 2rem;
  width: 40%;
  margin-left: -12px;
  .form-control {
    border: none;
    border-radius: none;
  }
  .input-group > input {
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: none;
  }
  .input-group > input:focus {
    box-shadow: none;
  }
}
